body {
  font-family: "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  background: #1c313a;
}

body::-webkit-scrollbar {
    display: none;
}

a {
  text-decoration: none;
  color: #eee;
}

.section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 10px 20px;
}

.list {
  flex: 1 300px;
  display: block;
  max-width: 300px;
  margin: 5px 5px;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
    background: #455a64;
    height: 40px;
    color: #eee;
    line-height: 40px;
}

li:hover, li:nth-child(2n):hover {
    background: #1c313a;
}

a {
    padding-left: 15px;
    display: block;
}

li:nth-child(2n) {
      background: #37474f;
}
  
h1 {
    position: relative;
    background: #9C27B0;
    color: black;
    margin: 0;
    padding: 10px 15px;
    font-size: 18px;
    font-weight: bold;
}


.reddit h1 {
  background: #FF5722;
}

.googleLinks h1 {
  background: #FFEB3B;
}

.social h1 {
  background: #2196F3;
}

.programming h1 {
  background: #F44336;
}

.banking h1 {
  background: #4CAF50;
}

.textbox {
  background-color: #1c313a;
  height: 38px;
  width: 350px;
  vertical-align: top;
  border: 2px solid #000a12;
  padding: 0 10px;
  margin-bottom: 20px;
}

.textbox:focus {
    outline: none;
    border-color: #2962ff;
}

@media only screen and (max-width: 45em) {
  .list {
    max-width: 95vw;
  }
  
  .textbox {
    width: 90vw;
  }
}

/* Google */

.container {
  text-align: center;
  margin: 0 auto;
}

.google {
  margin: 50px auto 20px;
  height: 80px;
  display: 
}

.container a {
  width: 400px;
  margin: auto;
}

#loadOverlay{display: none;}
